<p>
    <strong>Title:</strong>
    <%= @event.title %>
</p>

<p>
    <strong>Description:</strong>
    <%= @event.description %>
</p>

<p>
    <strong>Date:</strong>
    <%= @event.event_date %>
</p>

<p>
    <strong>Price:</strong>
    <%= @event.ticket_price %>
</p>

<p>
    <strong>Capacity:</strong>
    <%= @event.capacity %>
</p>

<%= link_to 'Back', events_path %>