<!DOCTYPE html>
<html>
  <head>
    <title>Mission</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h3>Account</h3> 
    <ul>
      <% if current_user %>
          <li><span><%= current_user.email %></span></li>
          <li><%= link_to 'Sign Out', sign_out_path, method: :delete %></li>
      <% else %>
          <li><%= link_to 'Sign In', sign_in_path %></li>
          <li><%= link_to 'Register', new_user_url %></li>
      <% end %>
    </ul>
    <%= yield %>
  </body>
</html>
